<configuration>
<system.webServer>
<handlers>
  <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
  
</handlers>

<rewrite>
  <rules>

    <rule name="nodejs">
      <match url="(.*)" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="/app.js" />
    </rule>
      <rule name="SocketIO" patternSyntax="ECMAScript">
     <match url="socket.io.+"/>
     <action type="Rewrite" url="app.js"/>
 </rule>

  </rules>
</rewrite> 
    <webSocket enabled="false"/>
<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>
  </requestFiltering>
</security>
</system.webServer>
 </configuration>
